.fixed {
  background-color: ghostwhite;
  position: fixed;
  z-index: 2;
  text-align: center;
  top: 40%;
  left: 50%;
  right: 50%;
  bottom: 60%;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inner-flex {
  display: flex;
  flex-flow: column wrap;
  margin: 5em auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
