<div [class]="selectedClass">
  <div class="flex-hero">
    <div class="center-div">
      <p class="bolden-whiten">
        {{ text }}
      </p>
      <p class="little-text">
        {{ smallText }}
      </p>
      <a mat-raised-button color="warn" routerLink="/registration">Join the community</a>
    </div>
  </div>
</div>
<div class="card-flex">
  <p-card header="Work From Home">
    <div class="ui-card-content">
      <img src="../../../assets/img/work-from-home.svg" />
      <div>Work in the comfort of your home. No need for a boring office.</div>
    </div>
  </p-card>
  <p-card header="Guaranteed Refund">
    <div class="ui-card-content">
      <img src="../../../assets/img/refund.svg" />
      <div>Can't amass enough referrals in two weeks? You can be sure to get your money back.</div>
    </div>
  </p-card>
  <p-card header="Earn More For Little">
    <div class="ui-card-content">
      <img src="../../../assets/img/money.svg" />
      <div>Gain 8 times the amount of money you pay.</div>
    </div>
  </p-card>
</div>
