<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h5>Payment</h5>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <i class="fa fa-user-circle" matPrefix></i>
        <input type="text" placeholder="Name" matInput />
      </mat-form-field>
      <mat-form-field>
        <i class="fa fa-at" matPrefix></i>
        <input type="email" placeholder="Email" matInput />
      </mat-form-field>
      <button mat-raised-button color="accent">Proceed</button>
    </form>
  </mat-card-content>
</mat-card>
