@media screen and (orientation: landscape) {
  .hide-on-widescreen {
    display: none;
  }
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.separator {
  flex: 1 auto;
}

.round-btn {
  border-radius: 50%;
  padding: 4px;
  text-align: center;
}

.floating-btn {
  position: fixed;
  bottom: 0;
  right: 0;
}

@media screen and (orientation: portrait) {
  .round-btn {
    display: none;
  }
}
