.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 50px auto;
}

.container mat-stepper {
  width: 100%;
}

.flex-within-step {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

@media screen and (orientation: portrait) {
  .container {
    display: block;
    width: 100vw;
  }

  .container mat-stepper {
    width: 100%;
  }

  .flex-within-step {
    flex-flow: column wrap;
  }
}
