<mat-nav-list>
  <a
    *ngIf="referralState | async as referral"
    mat-list-item
    (click)="copyReferralLink(referral.referral.id)">
    <i class="fa fa-copy"></i>
    <span>Copy Referral Link</span>
  </a>
  <a
    *ngIf="referralState | async as referral"
    mat-list-item
    (click)="copyReferralCode(referral.referral.id)">
    <i class="fa fa-copy"></i>
    <span>Refer Existing User</span>
  </a>
  <!-- <a mat-list-item [matMenuTriggerFor]="menu">
    <i class="fab fa-telegram"></i>
    <span>Telegram Links</span>
  </a> -->
  <a mat-list-item (click)="showPayoutDialog()">
    <i class="fa fa-credit-card"></i>
    <span>Request Payout</span>
  </a>
  <a mat-list-item (click)="logout()">
   <i class="fa fa-sign-out-alt"></i>
   <span>Logout</span>
  </a>
  <!-- <mat-menu #menu="matMenu">
    <a
      *ngFor="let link of telegramLinks"
      mat-menu-item
      [href]="link.url">
      <i class="fab fa-telegram"></i>
      <span>{{ link.name }}</span>
    </a>
  </mat-menu> -->
</mat-nav-list>
