/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Roboto';
  src: url("/assets/font/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Raleway';
  src: url("/assets/font/Raleway/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Special Raleway';
  src: url("/assets/font/Raleway/Raleway-Thin.ttf") format("truetype");
}

@font-face {
  font-family: 'Special Roboto';
  src: url("/assets/font/Roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: 'Bold Roboto';
  src: url("/assets/font/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Bold Raleway';
  src: url("/assets/font/Raleway/Raleway-Bold.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  background-color: ghostwhite;
  font-family: 'Roboto', sans-serif;
  overflow: scroll;
}

a {
  font-family: 'Raleway', sans-serif;
}

a[mat-raised-button], a[mat-button], a[mat-menu-item], a[mat-list-item] {
  font-family: 'Raleway', sans-serif;
}

.contain {
  width: 100vw;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.bg-1 {
  background-image: url("/assets/img/books-business-computer-connection-459654.jpg");
  background-size: cover;
  background-position: 50% 50%;
  height: 30em;
  padding-top: 6em;
}

.bg-2 {
  background-image: url("/assets/img/photo-of-people-doing-handshakes-3183197.jpg");
  background-size: cover;
  background-position: 50% 50%;
  height: 30em;
  padding-top: 6em;
}

[mat-menu-item] i, [mat-list-item] i {
  padding: 8px;
}

mat-select, [matInput] {
  font-family: 'Special Raleway', sans-serif;
}

table[mat-table] {
  font-family: 'Bold Roboto', sans-serif;
}

table[mat-table] th {
  font-family: 'Bold Raleway', sans-serif;
}
